*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    background-color: #292929
    color: #fff
    display: flex
    justify-content: center
    align-items: center
    min-height: 100vh

main
    position: relative
    display: flex
    justify-content: center
    align-items: center
    padding: 20px
    background: linear-gradient(to bottom, rgba(#000,.5), #edf1f4)
    border-radius: 40px
    box-shadow: 15px 15px 20px rgba(#000, .1), -15px -15px 20px #fff
    .range
        width: 400px
        height: 15px
        appearance: none //Quitala linea central
        outline: none
        border-radius: 15px
        box-shadow: 5px 5px 5px rgba(#000, .1) -5px -5px -5px #fff, inset 5px 5px 5px rgba(#000, .1)
        